@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
body{
	font-family: 'Open Sans Condensed', sans-serif;
}
#title{
	font-size: 3em;
	color: #987284;
}
#byline{
	font-size: 1.3em;
	color: #78CDD7;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
code {
	background-color: #F4C05F;
}